
nav {
    font-family: var(--font);
    font-size: 16px;
    color: var(--gray-100);
    min-height: 100vh;
    display: flex;
}

.barraLateral {
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--off-white);
 
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.3s ease;
}

.barraLateral.retraida {
    width: var(--sidebar-width-retraido);
    padding: 20px 8px;
}

.barraLateral.retraida .barraItens a,
.barraLateral.retraida .barraUser p,
.barraLateral.retraida .barraUser a {
    display: none;
}

.barraLateral.retraida .item {
    justify-content: center;
}

.barraLateral.retraida .btn-retrair {
    align-self: center;
}

.barraLateral.retraida .barraLogo {
    justify-content: center;
}

.barraLateral.retraida .logo-completo {
    display: none;
}

.barraLateral.retraida .logo-icone {
    display: block;
}

.barraLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}

.logo-completo{
    width: 160px;
}

.logo-icone {
    display: none;
    width: 36px;
}

.btn-retrair {
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    align-self: flex-start;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--radius-sm);
    transition: transform 0.3s;
}

.btn-retrair img {
    width: 20px;
}

.barraItens {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item {
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.item img {
    width: 20px;
    height: 20px;
}

.item:hover {
    background: var(--gray-200);
}

.barraItens a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 11px 12px;
    color: var(--teal);
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    transition: .2s;
}

.barraItens a.active {
    background: var(--menu-active);
    color: white;
}

.barraUser {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.barraUser img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.barraUser span {
    font-size: 13px;
}