nav {
  font-family: var(--font);
  font-size: 16px;
  color: var(--gray-100);
  min-height: 100vh;
  display: flex;
}

.barraLateral.retraida{
    width: 64px;
    padding: 20px 8px;
}

.barraLateral.retraida .barraItens a, .barraLateral.retraida .barraUser p{
    display: none;
}




.barraLateral {
    width: 240px;
    height: 100vh;
    background: var(--deep-teal);
    display: flex;
    flex-direction: column;
    padding: 20px 14px;
    position: fixed;
    left: 0;
    top: 0;
    color: var(--text-light);
}

.barraLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}

.barraLogo img{
    width: 200px;
}

.barraItens {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.barraItens a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 11px 12px;
    color: #D6DEE5;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    transition: .2s;
}

.barraItens a.active {
    background: var(--menu-active);
    color: white;
}

.item{
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.item img{
    width: 28px;
    height: 28px;
}

.item:hover {
    background: var(--teal);
}

.barraUser {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;

}

.barraUser img {
    width: 38px;
    height: 38px;
    border-radius: 50%;

}

.barraUser span {
    font-size: 13px;
}