@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  /* Cores primárias */
  --deep-teal:   #234c58;
  --teal:        #316372;
  --sage:        #91a6a4;
  --warm-sand:   #f1e6dc;
  --warm-beige:  #e1bba4;
  --terracotta:  #d97c56;
  --off-white:   #fbfaf9;

  /* Neutros */
  --gray-900: #1C1C1C;
  --gray-700: #555555;
  --gray-400: #8D8D8D;
  --gray-200: #D7D7D7;
  --gray-100: #F5F5F5;

  /* Estados */
  --success: #4C956C;
  --warning: #D89A3F;
  --error:   #C65B5B;
  --info:    #5C7AAEA;

  /* Tipografia */
  --font: calibri, sans-serif;

  /* Bordas */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  /* Sombra */
  --shadow: 0 8px 30px rgba(20, 30, 40, 0.08);

  --sidebar-width: 200px;
  --sidebar-width-retraido: 64px;
}


*, *::before, *::after {
  box-sizing: border-box;
}

